{{define "title"}}
  <title>jackson owens</title>
{{end}}
{{define "head"}}
  <meta name="description" content="I'm a programmer living and working in San Francisco, CA. I work as a Systems Engineer at Chain, developing a distributed financial database.">
{{end}}
{{define "content"}}
  <img src="/static/images/cows.png" alt="Jackson with cows" />

  <h1>Hai</h1>

  <p>I'm a programmer living and working in San Francisco, CA. I work as a Systems Engineer at <a href="https://chain.com">Chain</a>, developing software for next-generation financial networks. Before Chain, I worked on the <a href="http://connect.squareup.com">Connect API</a> at Square. Before that, I studied computer science at Brown University.</p>

  <p>You can find this page again by searching the internet for this string: uidlamporttlahomepage. Please, no one else use this string on the internet. Especially not you Leslie Lamport.</p>

  <h2>Projects</h2>

  <p><a href="https://www.github.com/jbowens/codenames">Codenames</a> — A Codenames board game implementation.</p>
  <p><a href="https://www.github.com/jbowens/request-catcher">RequestCatcher.com</a> — A tool for debugging HTTP requests.</p>

{{end}}
